*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

html{
    font-family: Arial, Helvetica, sans-serif;
}
/* headeer */
body{
    background-color:#f6f8f9;
    
}

.title{
    background-color: white;
}
.title img{
    vertical-align: middle;
}

.title span{
    font-size: 3rem;
    line-height: 80px;
    vertical-align: middle;
    font-weight: bold;
}

/* main */
 .container{
    background-color: white;
    margin: 0 15%;
    
 }

 .top{
    margin-top: 5rem;
    line-height: 4rem;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
 }

 .add{
    padding: 0.7rem;
    border-radius: 5px;
    margin-top: 5px;
 }
.a{
    background-color: #47adf1;
    margin-left: 5%;
    color: white;
}

.b{
    margin-left: 10px;
    color: grey;
    border: 1px solid grey;
}

.bot{
    margin-top: 3px;
    padding-bottom: 4rem;
}

.ml{
    margin-left: 5%;
    
}

ul{
    list-style-type: none;
    padding-top: 3rem;
}

li{
    padding-top: 2rem;
}
.font{
    font-size: 1.5rem;
    font-family:sans-serif;
    margin-left: 10px;
}
.circle{
    display: inline-block;
    border: 3px solid black ;
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
    line-height: 2rem;
    text-align: center;
}

.green{
    border-color:#92d4c4;
    color: #92d4c4;
}

.red{
    border-color:#f18e89;
    color: #f18e89;
}

h2{
    font-size: 2rem;
}
.label{
    color: white;
    padding: 0.6rem;
    border-radius: 15px;
    border: 2px solid none;
}

.blu{
    background-color:  #47adf1;
}

.purple{
    background-color:#9c72e4;
}

.g{
    background-color: #64c0a9;
}
.orange{
    background-color:#f29e33;
}

.f{
    background-color:#d863a1;
}

.ag{
    background-color: #b0c926;
}

.pb{
    padding-bottom: 3rem;
}

